:root {
  --color-gold: #ffc500;
  --size-container: 1024px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: #222;
  color: #eee;
  font-family:Arial, Helvetica, sans-serif;
  line-height: 1.5em;
}

p, ul {
  margin-bottom: 2em;
}

h1 {
  padding-top: 50px;
  padding-bottom: 50px;
}

h2 {
  border-bottom: solid 2px var(--color-gold);
  margin-bottom: 0.6em;
}

small {
  opacity: 0.7;
}

header {
  /* background-color: #1f1f1f; */
}

header a {
  font-size: 2em;
  text-decoration: none;
  color: inherit;
  opacity: 0.8;
  margin-left: 0.25em;
}

header a:hover {
  opacity: 1;
}

.container {
  max-width: var(--size-container);
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.flex {
  display: flex;
  align-items: center;
}

ul {
  list-style-position: inside;
}

main {
  border: solid 1px var(--color-gold);
  padding-top: 30px;
  padding-bottom: 50px;
  background-color: #333;
  margin-bottom: 50px;
}

a {
  color: var(--color-gold);
}
