.wrapper {
  h4 {
    border-bottom: solid 1px var(--color-gold);
    margin-bottom: 1em;
  }

  > code {
    display: block;
    background-color: black;
    border-radius: 5px;
    padding: 0.75em;
    margin-bottom: 1em;
  }

  table {
    margin-bottom: 1em;
    border-collapse: collapse;
    color: black;
    width: 100%;

    th {
      background-color: #999;
      font-size: 0.8em;
      text-align: left;
      padding-left: 0.5em;
    }

    td {
      background-color: white;
      padding: 0.2em;
      border: solid 1px black;
      font-family: var(--font-code);
      font-size: 0.8em;

      &:last-child {
        font-size: inherit;
        font-family: inherit;
      }
    }
  }
}